@media screen and (min-width: 1000px) {
  .guestLogin {
    width: 990px;
    .left_container {
      flex: 0.5;
      background-image: url("../../Assets/images/signin.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .right_container {
      flex: 0.5;
      label {
        font-size: 14px;
      }
    }
    .MuiOutlinedInput-input {
      padding: 10px !important;
    }
  }
}
.input_container {
  flex-grow: 1;
  margin-right: 10px;
}
