.recommended_para {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recommended_img {
  height: 150px;
}

.recommendation_card {
  position: relative;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

}

.recommendation_card:hover {
  transform: scale(1.01);
}

.recommendation_card:after {
  content: "";
  background: yellow;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.recommendation_card:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
