.enq_form {
  width: 45vw;
  .MuiInputBase-input {
    padding: 10px !important;
  }
}

@media screen and (max-width: 640px) {
  .enq_form {
    width: 100vw;
  }
}

.enquiry_modal_container {
  .MuiFormControl-root {
    border: 1px solid lightgrey !important;
    padding: 0px 0px 0px 10px !important;
    width: 95%;
    border-radius: 4px !important;
    margin-top: 8px !important;
  }

  .MuiInput-underline:before {
    border: none !important;
    transition: none !important;
  }
  .MuiInput-underline:after {
    border: none !important;
    transition: none !important;
  }
  .MuiInputBase-input {
    padding: 10px 10px 10px 0px !important;
  }
}
